<div class="wrapper">
  <div class="row topBar">
    <div class="col-xs-2">XotB</div>
    <div class="col-xs-8">
      <form [formGroup]="form">
        <span>Color: </span>
        <label>
          <input
            type="radio"
            value="primary"
            formControlName="variant"
            (change)="changeVariant($event)"
          />
          <span>Primary</span>
        </label>
        <label>
          <input
            type="radio"
            value="secondary"
            formControlName="variant"
            (change)="changeVariant($event)"
          />
          <span>Secondary</span>
        </label>
      </form>
      <span class="darkSpan">Dark Mode</span>
      <label class="switch">
        <input
          type="checkbox"
          value="darkmode"
          (change)="switchDarkMode($event)"
        />
        <span class="slider round"></span>
      </label>
    </div>
    <div class="col-xs-2">
      <button class="raised" (click)="generateTokenObj()">
        Download Config
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-6">
              <div class="card" [ngClass]="buttonClass">
                <div class="card-header">Curabitur consequat</div>
                <div class="card-body">
                  Donec volutpat arcu quis nulla pellentesque pharetra. Sed
                  lorem massa, fringilla non augue rutrum, malesuada
                  sollicitudin metus. Vivamus lobortis ornare mi, commodo
                  consequat purus congue nec.
                </div>
                <div class="card-footer">Etiam venenatis</div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="card" [ngClass]="buttonClass">
                <div class="card-header">Curabitur consequat</div>
                <div class="card-body">
                  Donec volutpat arcu quis nulla pellentesque pharetra. Sed
                  lorem massa, fringilla non augue rutrum, malesuada
                  sollicitudin metus. Vivamus lobortis ornare mi, commodo
                  consequat purus congue nec.
                </div>
                <div class="card-footer">Etiam venenatis</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div>
            <button [ngClass]="buttonClass" class="raised">Raised</button>
            <button [ngClass]="buttonClass" class="stroked">stroked</button>
            <button [ngClass]="buttonClass" class="flat">Flat</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div id="color" class="tabcontent">
        <div class="accordion">
          Primary Color
          <div class="colorSampler primary"></div>
        </div>
        <div class="panel">
          <div class="Picker">
            <div class="row">
              <div class="col-xs-2">
                <input
                  type="text"
                  class="picker primary"
                  [(colorPicker)]="primaryColor"
                  [(ngModel)]="primaryColor"
                  (colorPickerChange)="primaryColorChange($event)"
                />
              </div>
              <div class="col-xs-10">
                <div class="row">
                  <div
                    class="col-xs-2 smallPalette"
                    *ngFor="let color of primaryColorPalette"
                    [style.background-color]="color.hex"
                    [style.color]="color.darkContrast ? 'black' : 'white'"
                  >
                    {{ color.name }} <span> {{ color.hex }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion">
          Secondary Color
          <div class="colorSampler secondary"></div>
        </div>
        <div class="panel">
          <div class="Picker">
            <div class="row">
              <div class="col-xs-2">
                <input
                  class="picker secondary"
                  type="text"
                  [(colorPicker)]="secondaryColor"
                  [(ngModel)]="secondaryColor"
                  (colorPickerChange)="secondaryColorChange($event)"
                />
              </div>
              <div class="col-xs-10">
                <div class="row">
                  <div
                    class="col-xs-1 smallPalette"
                    *ngFor="let color of secondaryColorPalette"
                    [style.background-color]="color.hex"
                    [style.color]="color.darkContrast ? 'black' : 'white'"
                  >
                    {{ color.name }}
                    <!--  <span> {{ color.hex }}</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion">
          Background and Font Color
          <div class="colorSampler background"></div>
          <div class="colorSampler fontColor"></div>
        </div>
        <div class="panel">
          <div class="Picker">
            <div class="row">
              <div class="col-xs-2">
                <div class="PickerBg">
                  <input
                    class="picker"
                    type="text"
                    [style.background-color]="backgroundColor"
                    [(colorPicker)]="backgroundColor"
                    [(ngModel)]="backgroundColor"
                    (colorPickerChange)="checkColorCombo()"
                  />
                </div>
                <div class="PickerFont">
                  <input
                    class="picker"
                    type="text"
                    [style.background-color]="bodyFontColor"
                    [(colorPicker)]="bodyFontColor"
                    [(ngModel)]="bodyFontColor"
                    (colorPickerChange)="checkColorCombo()"
                  />
                </div>
              </div>
              <div class="col-xs-4 accessibility">
                <div
                  [ngStyle]="{
                    color: accessibility.aa ? 'green' : 'red'
                  }"
                  *ngIf="accessibility"
                >
                  AA : {{ accessibility.aa }}
                </div>
                <div
                  [ngStyle]="{
                    color: accessibility.aaLarge ? 'green' : 'red'
                  }"
                  *ngIf="accessibility"
                >
                  AA Large : {{ accessibility.aaLarge }}
                </div>
                <div
                  [ngStyle]="{
                    color: accessibility.aaa ? 'green' : 'red'
                  }"
                  *ngIf="accessibility"
                >
                  AAA : {{ accessibility.aaa }}
                </div>
                <div
                  [ngStyle]="{
                    color: accessibility.aaaLarge ? 'green' : 'red'
                  }"
                  *ngIf="accessibility"
                >
                  AA Large : {{ accessibility.aaaLarge }}
                </div>
                <div *ngIf="contrast">contrast: {{ contrast }}</div>
                <button (click)="setComboColor()">
                  Set Background and Font Color
                </button>
              </div>
              <div class="col-xs-6">
                <div
                  class="sampleColorCombo"
                  [style.background-color]="backgroundColor"
                  [style.color]="bodyFontColor"
                >
                  <h3>Sed lorem massa</h3>
                  <p>
                    Arcu quis nulla pellentesque pharetra. Sed lorem massa,
                    fringilla non augue rutrum, malesuada sollicitudin metus.
                    Vivamus lobortis ornare mi, commodo consequat purus congue
                    nec
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="typography" class="tabcontent">
        <div class="row">
          <div class="col-xs-6">
            <label for="headerFont">Header Font: </label>
            <select
              id="headerFont"
              [(ngModel)]="selectedheaderFont"
              name="status"
              placeholder="select"
              (ngModelChange)="setFont('header')"
            >
              <option *ngFor="let font of headerFonts" [ngValue]="font">
                {{ font }}
              </option>
            </select>
          </div>
          <div class="col-xs-6">
            <label for="bodyFont">Body Font: </label>
            <select
              id="bodyFont"
              [(ngModel)]="selectedBodyFont"
              name="status"
              placeholder="select"
              (ngModelChange)="setFont('body')"
            >
              <option *ngFor="let font of bodyfonts" [ngValue]="font">
                {{ font }}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h3 class="headerFont">Sed lorem massa</h3>
            <p class="BodyFont">
              Arcu quis nulla pellentesque pharetra. Sed lorem massa, fringilla
              non augue rutrum, malesuada sollicitudin metus. Vivamus lobortis
              ornare mi, commodo consequat purus congue nec
            </p>
          </div>
        </div>
      </div>

      <div id="spacing" class="tabcontent">
        <h3>Border Radius</h3>
        <div class="custom-slider">
          <ngx-slider
            [(value)]="sliderValue"
            [options]="sliderOptions"
            (valueChange)="sliderChange($event)"
          ></ngx-slider>
        </div>
        <h3>Spacing</h3>
        <div class="custom-slider">
          <ngx-slider
            [(value)]="sliderValueSpacing"
            [options]="sliderOptionsSpacing"
            (valueChange)="sliderChangeSpacing($event)"
          ></ngx-slider>
        </div>
      </div>

      <div id="colorCombo" class="tabcontent">
        <h1>colorCombo</h1>
        <p>colorCombo is the capital of Norway.</p>
      </div>

      <button
        class="tablink"
        (click)="openCity($event, 'color')"
        id="defaultOpen"
      >
        <i class="material-icons-outlined">palette</i>
      </button>
      <button class="tablink" (click)="openCity($event, 'typography')">
        <i class="material-icons-outlined">text_format</i>
      </button>
      <button class="tablink" (click)="openCity($event, 'spacing')">
        <i class="material-icons-outlined">format_line_spacing</i>
      </button>
      <button class="tablink" (click)="openCity($event, 'colorCombo')">
        <i class="material-icons-outlined">invert_colors</i>
      </button>
      <i
        (click)="openCity($event, 'colorCombo')"
        class="material-icons-outlined"
        >text_format</i
      >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">Cards & Button</div>
    <div class="col-xs-6"></div>
  </div>
  <div class="row" style="display: none">
    <div class="col-xs-2">
      <div>
        <div class="colorBox"></div>
        <div>Primary</div>
        <div class="smallPalette">
          <div
            *ngFor="let color of primaryColorPalette"
            [style.background-color]="color.hex"
          ></div>
        </div>
      </div>
    </div>
    <div class="col-xs-3"></div>
    <div class="col-xs-3"></div>
    <div class="col-xs-3"></div>
  </div>

  <div class="row" style="display: none">
    <div class="col-xs-2">
      <div class="Picker">
        <div class="palette">
          <p>Primary Color</p>

          <p>Primary Color Palette</p>
          <div
            *ngFor="let color of primaryColorPalette"
            [style.background-color]="color.hex"
            [style.color]="color.darkContrast ? 'black' : 'white'"
          >
            {{ color.name }} <span> {{ color.hex }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="PickerSec">
        <div class="palette">
          <p>Secondary Color</p>
          <input
            class="picker"
            type="text"
            [(colorPicker)]="secondaryColor"
            [(ngModel)]="secondaryColor"
            (colorPickerChange)="secondaryColorChange($event)"
          />
          <p>Secondary Color Palette</p>
          <div
            *ngFor="let color of secondaryColorPalette"
            [style.background-color]="color.hex"
            [style.color]="color.darkContrast ? 'black' : 'white'"
          >
            {{ color.name }} <span> {{ color.hex }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="PickerBg">
        <p>Background Color</p>
        <input
          class="picker"
          type="text"
          [style.background-color]="backgroundColor"
          [(colorPicker)]="backgroundColor"
          [(ngModel)]="backgroundColor"
          (colorPickerChange)="checkColorCombo()"
        />
      </div>
      <div class="PickerFont">
        <p>Font Color</p>
        <input
          class="picker"
          type="text"
          [style.background-color]="bodyFontColor"
          [(colorPicker)]="bodyFontColor"
          [(ngModel)]="bodyFontColor"
          (colorPickerChange)="checkColorCombo()"
        />
      </div>
      <button (click)="setComboColor()">Set</button>
      <div>{{ accessibility | json }}</div>
      <div>{{ contrast }}</div>
    </div>
    <div class="col-xs-2">
      <!-- <input
        [(colorPicker)]="backgroundColor"
        [cpColorMode]="'grayscale'"
        [style.background]="backgroundColor"
      /> -->
    </div>
    <div class="col-xs-4">
      <div
        class="sampleColorCombo"
        [style.background-color]="backgroundColor"
        [style.color]="bodyFontColor"
      >
        <h3 class="headerFont">Sed lorem massa</h3>
        <p class="BodyFont">
          Arcu quis nulla pellentesque pharetra. Sed lorem massa, fringilla non
          augue rutrum, malesuada sollicitudin metus. Vivamus lobortis ornare
          mi, commodo consequat purus congue nec
        </p>
      </div>
    </div>
  </div>
  <h2 style="display: none">Mater Color Combination</h2>
  <div class="row" style="display: none">
    <div class="col-xs-2">
      <div class="palette">
        <p>Primary Color Palette</p>
        <div
          *ngFor="let color of primaryPaletterArr"
          [style.background-color]="color.hex"
          [style.color]="color.contrastText"
        >
          <span> {{ color.hex }}</span>
        </div>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="palette">
        <p>Secondary Color Palette</p>
        <div
          *ngFor="let color of secPaletterArr"
          [style.background-color]="color.hex"
          [style.color]="color.contrastText"
        >
          <span> {{ color.hex }}</span>
        </div>
      </div>
    </div>
    <div class="col-xs-4"></div>
    <div class="col-xs-2"></div>
  </div>
  <h2 style="display: none">TypoGraphy Test - Web Font loader</h2>
  <div style="display: none" class="row">
    <div class="col-xs-8">
      <app-typography></app-typography>
    </div>
  </div>
</div>
