/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import "./../node_modules/flexboxgrid/css/flexboxgrid.min.css";
@import "../src/assets/styles/variables";
@import "../src/assets/styles/cards";
@import "../src/assets/styles/buttons";
@import "../src/assets/styles/switch";
@import "../src/assets/styles/accordion";
// default colors
body {
  background-color: var(--theme-background-color);
  color: var(--theme-body-font-color);
  font-size: 16px;
  font-weight: 400;
}
body.darkMode {
  background-color: var(--theme-body-font-color);
  color: var(--theme-background-color);
  font-size: 16px;
  font-weight: 400;
}
* {
  font-family: var(--theme-body-font);
}
:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--theme-header-font);
  font-weight: 700;
}
html,
body {
  height: 100%;
}
.Picker input.primary {
  background-color: var(--theme-primary-500);
  color: var(--theme-primary-contrast-500);
}
.Picker input.secondary {
  background-color: var(--theme-secondary-500);
  color: var(--theme-secondary-contrast-500);
}

.PickerBg input {
  background-color: var(--theme-background-color);
  color: var(--theme-body-font-color);
  border: 1px solid var(--theme-body-font-color) !important;
  width: 100%;
}
.PickerFont input {
  background-color: var(--theme-body-font-color);
  color: var(--theme-background-color);
  border: 1px solid var(--theme-background-color) !important;
  width: 100%;
}

.topBar {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  form {
    float: left;
  }
  .darkSpan {
    line-height: 24px;
    margin: 0 0 0 10px;
  }
}
