/* =================================== */
/*  Basic Style 
/* =================================== */
@import "variables";

// Buttons

button {
  border: none;
  outline: 0;
  color: var(--theme-primary-contrast-800);
  background-color: var(--theme-primary-800);
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  margin: calc(var(--theme-spacing) * 1);
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  min-width: 64px;
  line-height: 36px;
  padding: 0 calc(var(--theme-spacing) * 2);
  border-radius: var(--theme-border-radius);
  overflow: visible;
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
button.raised {
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    background-color: var(--theme-primary-700);
    box-shadow: 0 1px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
      0 1px 3px 0 rgb(0 0 0 / 12%);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
}
button.raised.secondary {
  color: var(--theme-secondary-contrast-800);
  background-color: var(--theme-secondary-800);
  &:hover {
    background-color: var(--theme-secondary-700);
  }
}

button.stroked {
  background-color: var(--background-color);
  color: var(--theme-primary-800);
  border: 1px solid var(--theme-primary-800);

  &:hover {
    border: 1px solid var(--theme-primary-A700);
  }
}
button.stroked.secondary {
  color: var(--theme-secondary-800);
  border: 1px solid var(--theme-secondary-800);
  &:hover {
    border: 1px solid var(--theme-secondary-A700);
  }
}
button.flat {
  box-shadow: none;
  color: var(--theme-primary-contrast-800);
  background-color: var(--theme-primary-800);
  &:hover {
    background-color: var(--theme-primary-700);
  }
}
button.flat.secondary {
  color: var(--theme-secondary-contrast-800);
  background-color: var(--theme-secondary-800);
  &:hover {
    background-color: var(--theme-secondary-700);
  }
}
