//    Font Family
// $primary-font: Roboto, "Helvetica Neue", sans-serif;
$primary-font: Arial, Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semiBold: 600;
$font-weight-bold: 700;

/*--------------------------- Color variations ----------------------*/
:root {
  --theme-body-background-color: #ebebeb;
  --font-color: #1f1f1f;
  --theme-primary-50: #fefeff;
  --theme-primary-contrast-50: rgba(black, 0.87);
  --theme-primary-100: #c6cbeb;
  --theme-primary-contrast-100: rgba(black, 0.87);
  --theme-primary-200: #9ca6dd;
  --theme-primary-contrast-200: rgba(black, 0.87);
  --theme-primary-300: #6776ca;
  --theme-primary-contrast-300: white;
  --theme-primary-400: #5062c2;
  --theme-primary-contrast-400: white;
  --theme-primary-500: #3f51b5;
  --theme-primary-contrast-500: white;
  --theme-primary-600: #37479e;
  --theme-primary-contrast-600: white;
  --theme-primary-700: #2f3d88;
  --theme-primary-contrast-700: white;
  --theme-primary-800: #273371;
  --theme-primary-contrast-800: white;
  --theme-primary-900: #1f285a;
  --theme-primary-contrast-900: white;
  --theme-primary-A100: #f5f6fe;
  --theme-primary-contrast-A100: rgba(black, 0.87);
  --theme-primary-A200: #9aa8f3;
  --theme-primary-contrast-A200: rgba(black, 0.87);
  --theme-primary-A400: #4f64d8;
  --theme-primary-contrast-A400: white;
  --theme-primary-A700: #475ac7;
  --theme-primary-contrast-A700: white;
  --theme-secondary-50: #ffffff;
  --theme-secondary-contrast-50: rgba(black, 0.87);
  --theme-secondary-100: #fffdfd;
  --theme-secondary-contrast-100: rgba(black, 0.87);
  --theme-secondary-200: #ffc5d8;
  --theme-secondary-contrast-200: rgba(black, 0.87);
  --theme-secondary-300: #ff7da9;
  --theme-secondary-contrast-300: rgba(black, 0.87);
  --theme-secondary-400: #ff5f95;
  --theme-secondary-contrast-400: rgba(black, 0.87);
  --theme-secondary-500: #ff4081;
  --theme-secondary-contrast-500: rgba(black, 0.87);
  --theme-secondary-600: #ff216d;
  --theme-secondary-contrast-600: white;
  --theme-secondary-700: #ff0359;
  --theme-secondary-contrast-700: white;
  --theme-secondary-800: #e3004d;
  --theme-secondary-contrast-800: white;
  --theme-secondary-900: #c50043;
  --theme-secondary-contrast-900: white;
  --theme-secondary-A100: #ffffff;
  --theme-secondary-contrast-A100: rgba(black, 0.87);
  --theme-secondary-A200: #ffd9e6;
  --theme-secondary-contrast-A200: rgba(black, 0.87);
  --theme-secondary-A400: #ff73a3;
  --theme-secondary-contrast-A400: rgba(black, 0.87);
  --theme-secondary-A700: #ff5992;
  --theme-secondary-contrast-A700: rgba(black, 0.87);
  --theme-border-radius: 5px;
  --spacing: 8px;
}
