:root {
  --theme-primary-50: #ffffff;
  --theme-primary-contrast-50: rgba(black, 0.87);
  --theme-primary-100: #d5e2f9;
  --theme-primary-contrast-100: rgba(black, 0.87);
  --theme-primary-200: #a4c0f1;
  --theme-primary-contrast-200: rgba(black, 0.87);
  --theme-primary-300: #6696e8;
  --theme-primary-contrast-300: rgba(black, 0.87);
  --theme-primary-400: #4c83e4;
  --theme-primary-contrast-400: white;
  --theme-primary-500: #3171e0;
  --theme-primary-contrast-500: white;
  --theme-primary-600: #2061d3;
  --theme-primary-contrast-600: white;
  --theme-primary-700: #1c55b8;
  --theme-primary-contrast-700: white;
  --theme-primary-800: #18499d;
  --theme-primary-contrast-800: white;
  --theme-primary-900: #143c83;
  --theme-primary-contrast-900: white;
  --theme-primary-A100: #ffffff;
  --theme-primary-contrast-A100: rgba(black, 0.87);
  --theme-primary-A200: #abcaff;
  --theme-primary-contrast-A200: rgba(black, 0.87);
  --theme-primary-A400: #4f8cf5;
  --theme-primary-contrast-A400: rgba(black, 0.87);
  --theme-primary-A700: #427fe9;
  --theme-primary-contrast-A700: white;
  --theme-secondary-50: #ffffff;
  --theme-secondary-contrast-50: rgba(black, 0.87);
  --theme-secondary-100: #fafdff;
  --theme-secondary-contrast-100: rgba(black, 0.87);
  --theme-secondary-200: #c2ecff;
  --theme-secondary-contrast-200: rgba(black, 0.87);
  --theme-secondary-300: #7ad5ff;
  --theme-secondary-contrast-300: rgba(black, 0.87);
  --theme-secondary-400: #5cccff;
  --theme-secondary-contrast-400: rgba(black, 0.87);
  --theme-secondary-500: #3dc2ff;
  --theme-secondary-contrast-500: rgba(black, 0.87);
  --theme-secondary-600: #1eb8ff;
  --theme-secondary-contrast-600: rgba(black, 0.87);
  --theme-secondary-700: #00afff;
  --theme-secondary-contrast-700: rgba(black, 0.87);
  --theme-secondary-800: #009ae0;
  --theme-secondary-contrast-800: white;
  --theme-secondary-900: #0085c2;
  --theme-secondary-contrast-900: white;
  --theme-secondary-A100: #ffffff;
  --theme-secondary-contrast-A100: rgba(black, 0.87);
  --theme-secondary-A200: #d6f2ff;
  --theme-secondary-contrast-A200: rgba(black, 0.87);
  --theme-secondary-A400: #70d2ff;
  --theme-secondary-contrast-A400: rgba(black, 0.87);
  --theme-secondary-A700: #56caff;
  --theme-secondary-contrast-A700: rgba(black, 0.87);
  --theme-background-color: #ebebeb;
  --theme-body-font-color: #1f1f1f;
  --theme-border-radius: 8px;
}
